#quiz {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar{
     background: #a37b9d;
    }

.nav-link , .navbar-brand{ 
    color: #f4f4f4; cursor: pointer;
}

.nav-link{
    margin-right: 1em;
}

.nav-link:hover{ 
    background: #f4f4f4; color: #a37b9d;
 }

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff ;
}

.navbar-fixed-top {
    position: fixed;
}

.bg-light {
    background-color: #869eb6;
}

body,html { 
    padding-top: 50px; 
    height: 100%;
    padding-bottom: 80px;
}

  .bg-1 {
    left: 0;
    border-radius: 15px;
    height: 1000px;
    padding-top: 20%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    background: linear-gradient(45deg, #FFC0CB 50%, #00FFFF 50%);
  }


  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

  }

  .container {
    position: relative;
    text-align: center;
  }

  #footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
  }

  .fab {
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 6px 2px;
  }

  .fa-linkedin {
      background: #0072b1;
      color: white;
  }

.fa-github-square {
    background: white ;
    color: black;
}

  #contact {
      border: black;
      border-width: small;
      border-style: solid;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
}

.resize{
    width: 300px;
    height: auto;
}

#skill-list{
        display: inline-block;
        text-align: left;
}