#quiz {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar{
     background:rgba(96, 109, 133, 1);
    }

.nav-link , .navbar-brand{ 
    color: #f4f4f4; cursor: pointer;
}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover{ 
    background: #f4f4f4; color: rgba(96, 109, 133, 1);
 }

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff !important;
}

.navbar-fixed-top {
    position: fixed;
}

.bg-light {
    background-color: #869eb6!important ;
}


   body,html { 
    padding-top: 65px; 
    height: 100%;
    padding-bottom: 80px;
}
 
.bg {
    background-image: url("Images/lo-fi-24.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  .container {
    position: relative;
    text-align: center;
  }
  
  .text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(96, 109, 133, 1);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 50px;

  }

  .footer{
      background-color: rgba(96, 109, 133, 1);
  }

  .fab {
   
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 6px 2px;
  }

  .fa-linkedin {
      background: #0072b1;
      color: white;
  }

.fa-github-square {
    background: white ;
    color: black;
}

  #contact {
      border: black;
      border-width: small;
      border-style: solid;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
  }

.card {
    border: black;
      border-width: small;
      border-style: solid;
      text-align: center ;
}

.resize{
    width: 300px;
    height: auto;
}

#skill-list{
        display: inline-block;
        text-align: left;
}