#quiz {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar{
     background:#a37b9d;
    }

.nav-link , .navbar-brand{ 
    color: #f4f4f4; cursor: pointer;
}

.nav-link{
    margin-right: 1em !important;
}

.nav-link:hover{ 
    background: #f4f4f4; color: #a37b9d);
 }

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#fff !important;
}

.navbar-fixed-top {
    position: fixed;
}

.bg-light {
    background-color: #869eb6!important ;
}


body,html { 
    padding-top: 50px; 
    height: 100%;
    padding-bottom: 80px;
}
 
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .left {
    left: 0;
    background-color:#92b8c9;
    border-radius: 15px;
  }
  
  .right {
    right: 0;
    background-color: white;
    border-radius: 15px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

  }

  .container {
    position: relative;
    text-align: center;
  }

  .footer{
      background-color: rgba(96, 109, 133, 1);
  }

  .fab {
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 6px 2px;
  }

  .fa-linkedin {
      background: #0072b1;
      color: white;
  }

.fa-github-square {
    background: white ;
    color: black;
}

  #contact {
      border: black;
      border-width: small;
      border-style: solid;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
}

.resize{
    width: 300px;
    height: auto;
}

#skill-list{
        display: inline-block;
        text-align: left;
}